services:
  app:
    build: .
    ports:
      - "3001:3000"
    environment:
      - DATABASE_URL=postgresql://pipelite:pipelite@postgres:5432/pipelite
      - AUTH_SECRET=EkauJEdfhzBEZ2F+a18vqTspFmGHboVpmBPGvDBWcuU=
      - NEXTAUTH_URL=http://localhost:3001
      - AUTH_TRUST_HOST=true
      - SMTP_HOST=mailhog
      - SMTP_PORT=1025
      - SMTP_SECURE=false
      - SMTP_USER=
      - SMTP_PASSWORD=
      - EMAIL_FROM=noreply@pipelite.local
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=pipelite
      - POSTGRES_PASSWORD=pipelite
      - POSTGRES_DB=pipelite
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pipelite"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI
    restart: unless-stopped

volumes:
  postgres_data:
